.main {
    width: 100%;
    height: 80px;
    padding: 10px;
    border: 1px solid #fff;
    background-color: rgb(250, 250, 250);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #444;
}

.searchDiv {
    width: 30%;
}

.searchBox {
    height: 40px;
    width: 90%;
    border-radius: 25px;
    border: 1px solid #eee;
    /* background-color: #f7f7f7; */
    padding: 0 15px;
    color: #555;
}

.rightDiv {
    width: 30%;
}

:focus {
    outline: none;
}

.rightDiv .login {
    font-weight: bold;
    background-color: transparent;
    transition: all 0.3s;
    border-radius: 0;
    padding: 6px 16px;
    border-radius: 5px;
    border: 1px solid transparent;
}

/* .rightDiv .login:hover {
    border: 1px solid #111;
    background-color: #f7f7f7;
    border-radius: 25px;
} */

.cart {
    margin-left: 30px;
}

.cartIcon, .searchIcon {
    font-size: 160%;
    line-height: 120%;
    vertical-align: middle;
    /* margin-top: -px; */
    color: #444;
}

.cartIcon {
    padding-right: 10px;
    margin-top: -3px;
}
/* .searchIcon {
    background-color: #ffed00;
    height: 40px;
    border-radius: 25px;
} */